<h2 class="mb-4">Admin Page </h2>

<p> This section contain several parts to admin starting from : </p>
<p><u>User Managment</u></p>
<p>In this section you can manage :</p>
<ul>
    <li>Add new role to user</li>
    <li>Remove existing role to user</li>
    <li>Make user Active</li>
    <li>Make user InActive</li>
</ul>

<p><u>Main Menu</u></p>
<p>In this section you can manage main menu for the site by adding , updating and remove main menu</p>
<p><u>Sub Main Menu</u></p>
<p>In this section you can manage sub main menu for the site by adding , updating and remove sub main menu to main menu</p>

<p><u>Products</u></p>
<p>In this section you can manage products for the site by adding , updating and remove products to sub main menu</p>

<p><u>Items</u></p>
<p>In this section you can manage Items by doing the following actions</p>
<ul>
    <li>Add new item to the product</li>
    <li>Update existing item to the product</li>
    <li>Delete item from the product</li>
    <li>Ammend the main pictures and additional pictures to the item</li>
    <li>Ammend the properties of the items</li>
</ul>